{% extends "layout.html" %}
{% block content %}

<div class="row-home"> 
  <div class="content-box-home">
      <h3>Welcome to Development Environment</h3>
    <!-- <img src="{{ url_for('static', filename='img/Spreadsheets.jpg') }}" alt="Intro Site" width=480 height=250 id="img-home"> -->
    <div class="aling-div-home">
      
      <h2>Applications</h2>
      <div class="div-box" id="box1">
          <i class="fa fa-facebook"></i>
          <ul class=list-group>
              <a href="/home_ncr"><li class="list-group-item"><sctrong><h3 id="spread-sheets">Spreadsheets Analysis</h3></li></a>
          </ul>
      </div>
      <div class="div-box" id="box2">
          <i class="fa fa-facebook"></i>
          <ul class=list-group>
            <a href="/index_coin"><li class="list-group-item"><sctrong><h3 id="id-apps">Apps</h3></li></a>
          </ul>
      </div>
      <div class="div-box" id="box3">
          <i class="fa fa-facebook"></i>
          <ul class=list-group>
            <a href="index_game"><li class="list-group-item"><sctrong><h3 id="id-games">Games</h3></li></a>
          </ul>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
